graphdb-10.2.0-dist.zip
graphdb-10.8.2-dist.zip
graphdb
target
.lsp
.clj-kondo
.calva 
.settings
.project
saxon/
node_modules/
staticSearch/data/json/tokens/
staticSearch/data/txt/ssTokenString.txt
staticSearch/data/json/stems/
test/data/stemsText
html/
#data/img
#test